/* COLOR PALLETE 
https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41

* 344e41
* 3a5a40
* 588157
* a3b18a
* dad7cd

/* WITHOUT DIV separating photo and text */
html {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: #588157;
}

body {
    width: 50%;
    margin: auto;
    padding: 2vw;

    border: solid;
    border-radius: 1vw;
    border-width: 0.5vw;

    justify-content: center;
    align-items: center;
    
    background-color: #dad7cd;
    border-color: #344e41;
    box-shadow: 0.5vw 0.5vw;
}

h1 {
    margin-top: 2vw;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

ul {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: 25%;
}

/* WITH DIV */
/* html {
    display: flex;
    height: 100%;
    text-align: center;

    background-color: #344e41;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

div {
    width: 50%;
}

h1 {
    margin-top: 2vw;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

ul {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: 25%;
} */